body{font-family:Arial;padding:20px}
table{border-collapse:collapse;width:100%;margin-top:10px}
td,th{border:1px solid #ccc;padding:6px}
input, select, button{margin:4px;padding:6px}
button{cursor:pointer}
